body {
  font-size: 20px;
  background-color: #f9f9f9;
}

.main {
  padding-left: 20px;
}

.heading {
  font-family: 'Trirong', serif;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6E5961;
  text-decoration: none;
}
.subheading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

}
a.heading {
  text-decoration: none;
}

a.links{
    text-decoration: none;
    color: #9d858f;
}

a.links:hover  {
    color: black;
}

div.probField {
  width: 600px;
}

#title {
  margin-bottom: 0px;
  display:inline-block;
}

#name {
  margin-bottom: 0px;
  font-size: 20px;
  display:inline-block
}

.congrats {
    font-size: 30px;
    color: #6E5961;
    padding-left: 150px;
}

.tick {
  color: #769c49;
}

.btn {
  font-size: 20px;
    width: 100px;
    height: 50px;
}

.floatBox {
  float: left;
}
.solveArea {
  padding-bottom: 20px;
}

#answer {
  width: 600px;
	height: 300px;
  border: 3px solid #CDC1C5;
  font-size: 18px;
  color: white;
  background-color: black;
}

#mySolution {
  width: 600px;
	height: 300px;
  font-size: 18px;
}

div#displayResults {
    position: absolute;
    top: 200px;
    margin-left: 600px;
}

.test-table {
  padding-left: 150px;
}

.test-table td {
  border: solid 1px black
}

.status-box {
  width: 2em;
}

.problems {
  width: 600px;
  overflow-wrap: break-word;
}
.exercise-link {
  padding: 5px;
}
